@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

input::-webkit-inner-spin-button {
    display: none;
}

.block {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: linear-gradient(45deg, #e5e5f7 20%, #444cf7 100%);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    width: 260px;
    border: solid 1px whitesmoke;
    border-radius: 0.5rem;
    height: 60px;
    font-size: 28px;
    transition: 0.2s;
}

.btn:hover {
    border: solid 1px black;
    scale: 1.02;
}

button:active {
    scale: 0.98;
}


/* Block-1 */

.block-1 h1 {
    color: #da9000;
    text-align: center;
    padding: 10px;
    border-radius: 0.5rem;
    height: max-content;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.block-1 .container {
    display: flex;
    gap: 10px;
}

.block-1 .container ul {
    width: 300px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.block-1 .container ul li:not(:last-child) {
    margin-bottom: 10px;
}

.block-1 .container img {
    width: 300px;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.block-1 .container nav {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .block-1 {
        padding: 10px 0;
    }

    .block-1 .container {
        flex-direction: column;
        align-items: center;
    }

    .block-1 .container img {
        width: 200px;
    }
}

#background-video {
    width: 100vw;
    height: 120vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* Block 2 */

.block-2 {
    background: linear-gradient(180deg, #e5e5f7 0%, #444cf7 100%);
}

.block-2 .container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.block-2 .container img {
    width: 300px;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.block-2 .container .col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-2 .container .col .item {
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    height: 150px;
}

.block-2 .container .col .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media screen and (max-width: 768px) {
    .block-2 .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .block-2 .container .col:first-child {
        order: 1;
    }

    .block-2 .container .col:last-child {
        order: 1;
    }

    .block-2 .container img {
        width: 200px;
    }
}

/* Block 3 */

.block-3 {
    background: repeating-linear-gradient(to bottom, #e5e5f7, #e5e5f7 1px, #444cf7 2px, #444cf7 50px);
}

.block-3 .slider .slider-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.block-3 .slider .slider-element img {
    width: 300px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.block-3 .slider .slider-element h3 {
    text-align: center;
    width: 300px;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.block-3 .slider .slider-element p {
    width: 300px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.block-3 .slider-wrapper {
    position: relative;
    overflow: auto;
    width: 100%;
}

.block-3 .slick-dots li button {
    background-color: white;
    border: black solid 1px;
    border-radius: 50%;
}


@media screen and (max-width: 768px) {
    .block-3{
        padding: 10px 0;
    }

    .block-3 .slider .slider-element img {
        width: 200px;
    }
}

/* Block 4 */

.block-4 {
    border: 5px rgba(35, 126, 5, 1);
    background: linear-gradient(180deg, #444cf7 0%, rgba(35, 126, 5, 1) 100%);
}

.block-4>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-4 .container {
    display: flex;
    gap: 10px;
}

.block-4 .container .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 300px;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.block-4 .container img {
    width: 300px;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.block-4 ul {
    justify-content: center;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    gap: 10px;
}

.block-4 ul li {
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .block-4 {
        padding: 10px 0;
    }

    .block-4 .container {
        flex-direction: column;
        align-items: center;
    }

    .block-4 ul {
        flex-direction: column;
        align-items: center;
    }

    .block-4 .container img {
        width: 200px;
    }
}

/* Block 5 */

.block-5 {
    background-color: #e5e5f7;
    background-size: 40px 20px;
    background-image: repeating-linear-gradient(to right, rgba(35, 126, 5, 1), rgba(35, 126, 5, 1) 2px, #e5e5f7 1px, #e5e5f7);
}

.block-5 .container {
    display: flex;
    gap: 10px;
}

.block-5 h1 {
    text-align: center;
    padding: 10px;
    border-radius: 0.5rem;
    height: max-content;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.block-5 .order-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.block-5 .order-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.block-5 .order-container form input {
    font-size: 28px;
    padding: 4px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: calc(100% - 8px);
}

.block-5 .product-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
}

.block-5 .new-price {
    font-size: 34px;
    margin-left: auto;
    background: linear-gradient(45deg, #000000 20%, #da9000 35%, #da9000 65%, #000000 80%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: price-animation 2s linear infinite;
}

@keyframes price-animation {
    to {
        background-position: 200%;
    }
}

.block-5 .old-price {
    color: #909090;
    margin-left: auto;
    text-decoration: line-through;
}

@media screen and (max-width: 768px) {
    .block-5 {
        padding: 10px 0;
    }

    .block-5 .container {
        flex-direction: column;
    }

    .block-5 .container .product-container img {
        width: 200px;
    }

    .block-5 .container .product-container {
        align-items: center;
    }
}

.helper {
    position: relative;
}

.helper span {
    position: absolute;
    color: #909090;
    font-size: 14px;
    top: -10px;
    right: 0;
    opacity: 0;
    transition: 0.5s;
}

.helper-text span {
    opacity: 1;
}